/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, black, rgb(4, 4, 53));
}

.background-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 270vh; */
  opacity: 1;
  /* Ensure it takes the full viewport height */
}